# Dictionary vs Dataframe (DF) 
<font color=blue>Dataframe</font> is more like a dictionary of list. And it is of type **series object** (verify using type()), bit different than a dictionary. <br>
**DF series** contain data of a single column. Therefore DF is a container for multiple such series.

In [2]:
# This is convenient way to store data about single person.
person = {
    'first': 'kas',
    'last': 'las',
    'email': 'kas@kas.com'
}

person['first']

'kas'

In [3]:
people = {
   'first': ['kas'],
   'last': ['las'],
   'email': ['kas@las.com'] 
}

In [4]:
# This is convenient way to store data about multiple people.
people = {
   'first': ['kas','bil','bap'],
   'last': ['las','bil','gap'],
   'email': ['kas@las.com','bil@bil.com','bap@bap.com'] 
}
people['email']

['kas@las.com', 'bil@bil.com', 'bap@bap.com']

In [5]:
type(people['email'])

list

In [6]:
import pandas as pd
df = pd.DataFrame(people)
df

  first last        email
0   kas  las  kas@las.com
1   bil  bil  bil@bil.com
2   bap  gap  bap@bap.com

In [7]:
df['email']

0    kas@las.com
1    bil@bil.com
2    bap@bap.com
Name: email, dtype: object

In [8]:
# Though we can access the column using dot ('.') notation as well. But it is more preferable to use bracket('[]') to access a column in a dataframe.
# The reason is if a dataframe object has an attribute with the same name as column then it might throw some error.
df.email

0    kas@las.com
1    bil@bil.com
2    bap@bap.com
Name: email, dtype: object

In [9]:
### Series Object
# Each column is a series object. Series is something like list but with more funtionality available i.e dataframe is a container which holds many series objects. Accessing single column in a DF return as Series.
type(df['email'])

pandas.core.series.Series

In [10]:
### We can access multiple columns from dataframe by passing column names as list. In this case the output is not a Series, rather another dataframe.
df[['email','first']]

         email first
0  kas@las.com   kas
1  bil@bil.com   bil
2  bap@bap.com   bap

In [11]:
# as we see we can access multiple column in DF. But in this case it is no more a series but a DF. Which means DF is a collection of Series
type(df[['first','last']])

pandas.core.frame.DataFrame

In [12]:
# access the column email in 0th row or Index
df.loc[0,'email']

'kas@las.com'

In [13]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [14]:
df

  first last        email
0   kas  las  kas@las.com
1   bil  bil  bil@bil.com
2   bap  gap  bap@bap.com

In [15]:
# Till now we see default indexes for each row. e.g 0 1 2 3 4 5
# we can set the index for unique value. The criteria for the column as an index column is all values in that columns should be unique.
df.set_index('email')

            first last
email
kas@las.com   kas  las
bil@bil.com   bil  bil
bap@bap.com   bap  gap

In [28]:
# we see the index not changed even though we have changed index in the previos cell
df

         email first last
0  kas@las.com   kas  las
1  bil@bil.com   bil  bil
2  bap@bap.com   bap  gap

In [30]:
# To change the index permanently so that it relects in the susequent cells
df.set_index('email',inplace=True)

In [35]:
df

            first last
email
kas@las.com   kas  las
bil@bil.com   bil  bil
bap@bap.com   bap  gap

In [19]:
df.index

Index(['kas@las.com', 'bil@bil.com', 'bap@bap.com'], dtype='object', name='email')

In [20]:
# Setting the index helps to find the detail about the row. 
df.loc['kas@las.com']

first    kas
last     las
Name: kas@las.com, dtype: object

In [21]:
df.loc['bil@bil.com','last']

'bil'

In [38]:
# We can not use loc with old index numebr will error out
df.loc[0]

KeyError: 0

In [37]:
# But with iloc we can still pass row number i.e default index value
df.iloc[0]

first    kas
last     las
Name: kas@las.com, dtype: object

In [23]:
# to reset the index
df.reset_index(inplace=True)
df

         email first last
0  kas@las.com   kas  las
1  bil@bil.com   bil  bil
2  bap@bap.com   bap  gap

In [40]:
# Index can be define while loading the csv file
df = pd.read_csv("data/survey_results_public.csv",index_col='Respondent')
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [ ]:
schema_df = pd.read_csv("data/survey_results_schema.csv",index_col='qid')
pd.set_option('display.max_rows', 50)

,qname,question,force_resp,type,selector
qid,,,,,
QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
QID310,Q310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
QID312,Q120,,True,MC,SAVR
QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
...,...,...,...,...,...
QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
QID289,Knowledge_8,I feel like I have the tools and/or resources ...,NaN,MC,MAVR
QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR

In [ ]:
schema_df.loc['QID290']

,qname,question,force_resp,type,selector
qid,,,,,
QID290,Frequency,How frequently do you experience each of the f...,False,Matrix,Likert
QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR

In [ ]:
schema_df.sort_index()

,qname,question,force_resp,type,selector
qid,,,,,
QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,SAVR
QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,SAVR
QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,SAVR
QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,SAVR
...,...,...,...,...,...
QID51,CompTotal,What is your current total <b>annual</b> compe...,False,TE,SL
QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID71,OpSys,What is the primary <b>operating system</b> in...,False,Matrix,Likert
QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB